<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Order Products</title>
    <meta charset="UTF-8">
    <title>Reception List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<header class="col-md-8">
    <h2>Order List</h2>
    <p>
        <a href="/products">List Product</a>
    </p>
</header>
<table class="table table-striped col-md-12">
    <tr>
        <td>Image</td>
        <td>Name</td>
        <td>Price</td>
        <td>Amount</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="product:${products}">
        <tr>
            <td width="300"><img  width="50%" th:src="@{'/image/'+${product.image}}" class="img-thumbnail"></td>
            <td th:text="${product.name}" class="productName"></td>
            <td th:text="${product.price}" class="price"></td>
            <td class="order">Amount</td>
            <td class="view"><a th:href="@{/delete-product-order/__${product.id}__}" class="btn btn-outline-danger">Delete</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>